body{
  display: flex;
  padding: 20px;
  background-image: url("/backgroundimage3.jpg");
  background-size: 1500px 900px;
  background-repeat: no-repeat;
  overflow: hidden;
}

*{
  font-family:Helvetica;
}
#navbar{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-content:center;
  align-items:center;
  /* padding-inline-end:40px; */
}

h1{
  color: rgb(19, 34, 46);
  text-align:left;
  font-size:50px;
  display:inline;
  animation:fadein 3s;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
h2{
  color: rgb(19, 34, 46);
  text-align:left;
  font-size:50px;
  display:inline;
  animation:fadein 3s;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  display: flex;
  align-content: left;
}


#GitInHere{
  padding-inline-end: 10px;
}

.login, .login:link, .login:visited{
  display:flex;
  justify-items:right;
  border:solid 1px black;
  font-size:18px;
  padding:10px 20px;
  border-radius:5px;
  color:black;
  text-decoration:none;
  
}
.login:hover{
  background-color:#d3d3d3;
}
.categoryParent{
  margin-top:100px;
  width: 1000px;
  flex-direction:row;
  /* border-style: solid; */
  /* flex-flow:column wrap; */
  height: 400px;
  overflow-y:scroll;
  background-color: rgb(199,203,204,.40);
}

.categoryDiv{
  /* border-style: solid; */
  height:300px;
  /* display:flex; */
  flex: 1 1 300px;
  flex-direction:column;
  align-items: left;
 
}
.resourcesList{
  padding: 50px;
  margin: 20px;
  font-size:20px;
  height:70px;
  width: 700px;
  overflow-y:scroll;
  border-style: solid;
  /* justify-content: left; */
  
}

.resourceDiv{
  margin: 20px;
  border-style:solid;
  /* display: flex; */
  /* justify-content: left; */
  flex-wrap:nowrap;
  width: 700px;


}
.resourceLink{
  flex:3;
  text-align:left;
}
.mathing{
  display:flex;
  flex:1;
  justify-content:flex-end;
  padding-inline-end: 20px;
}
.adding{
  padding-inline-end:20px;
}

#addResource{
  text-align:center;
  height: 20px;
}

#selecting,#submitBtn,input{
  width: 240px;
  height: 25px;
}
#selecting, #submitBtn{
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.cat1,.cat2,.cat3,.cat4,.cat5,.cat6, #subscribe {
  margin-top: 10px;
  float: left;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.cat1:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.cat2:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.cat3:hover, .cat4:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.cat5:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);  
}
.cat6:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);  
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



/* @keyframes bouncy{
   0%{top:0em}
   40%{top:0em}
   43%{top:-0.9em}
   46%{top:0em}
   48%{top:-0.4em}
   50%{top:0em}
   100%{top:0em;}

} */