body{
  display: flex;
  background-image: url("/backgroundimage1.jpg");
  background-size: 1480px 700px;
  background-repeat: no-repeat;
  width: 1480px;
  align-content: center;
  /* overflow: hidden; */
}

.section1{
  height: 200px;
}

.section2{
  height: 50px;
}

.section3{
  height: 100px;
}
.fa-star{
  font-size:20pt;
  color: yellow;
}

.fa-github{
  font-size: 30px;
}
.favorite{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 15px;
}

.p1{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 1000;
  padding: 100px;
  /* display: flex; */
  animation:fadein 3s;
  text-align: center;
  /* align-self: center; */
  margin-left: 100px;
}

.p2{
  font-family: 'Roboto', sans-serif;
  color:  rgb(19, 34, 46);
  font-size: 50px;
  font-weight: 1000;
 
}

*{
  font-family: 'Roboto', sans-serif;
}
#navbar{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-content:center;
  align-items:center;
  /* padding-inline-end:40px; */
}

h1{
  color: white;
  text-align:left;
  font-size:30px;
  display:inline;
  animation:fadein 3s;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  
}
h2{
  /* align-self: center; */
  color: white;
  text-align:center;
  font-size:20px;
  animation:fadein 3s;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: relative;
  margin-left: 100px;

}


#GitInHere{
  padding-inline-end: 10px;
}

.login, .login:link, .login:visited{
  display:flex;
  justify-items:right;
  border:solid 1px white;
  font-size:18px;
  padding:10px 20px;
  border-radius:5px;
  color:white;
  text-decoration:none;
  
}
.login:hover{
  background-color:#d3d3d3;
}
#addResource{
  text-align:center;
  height: 20px;
  margin-left: 50px;

}
.categoryParent{
  width: 1350px;
  flex-direction:row;
  /* border-style: solid; */
  /* flex-flow:column wrap; */
 
  overflow-y:scroll;

}

.categoryDiv{
  /* border-style: solid; */
  height:300px;
  width: 1350px;
 padding:50px;
  align-items: left;
 
}
.resourcesList{
  padding: 50px;
  margin: 20px;
  font-size:20px;
  height:200px;
  width: 1000px;
  overflow-y:scroll;
  /* border-style: solid; */
  border-radius: 25px;
  background-color: rgba(96, 129, 155, 0.3);
    margin-left: 100px;
}

.resourceDiv{
  border-style:solid;
  flex-wrap:nowrap;
  width: 1000px;


}
.resourceLink{
  flex:3;
  text-align:left;
}
.mathing{
  display:flex;
  flex:1;
  justify-content:flex-end;
  padding-inline-end: 20px;
}
.adding{
  padding-inline-end:20px;
}


#selecting,#submitBtn,input{
  width: 240px;
  height: 25px;
}
#selecting, #submitBtn{
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.cat1,.cat2,.cat3,.cat4,.cat5,.cat6, #subscribe {
  margin-top: 10px;
  float: left;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.cat1:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.cat2:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.cat3:hover, .cat4:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.cat5:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);  
}
.cat6:hover{
  background-color: rgb(51, 103, 145);
  box-shadow: 0px 15px 20px rgba(51, 103, 145, 0.4);
  color: #fff;
  transform: translateY(-7px);  
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



/* @keyframes bouncy{
   0%{top:0em}
   40%{top:0em}
   43%{top:-0.9em}
   46%{top:0em}
   48%{top:-0.4em}
   50%{top:0em}
   100%{top:0em;}

} */